<!DOCTYPE html>
<html lang="en"
      style="--bs-body-color: black; --bs-body-bg: white; --bs-active-color: rgba(0, 0, 0, 0.3); --bs-annotation-color: rgba(255, 255, 255, 0.75);">
<%- include("components/_head.ejs") %>
<body id="page-top">
<%- include("components/_embedded_svgs.ejs") %>
<%- include("components/_nav.ejs") %>

<!-- Display the background image only when completely loaded -->
<div id="preload" style="display: none">
    <img src="/assets/masthead-white.jpg"
         onload='document.getElementById("masthead").classList.add("masthead-error-bg");' alt="">
</div>

<!-- Masthead for Error Page -->
<header class="masthead min-vh-100" id="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="masthead-text-large text-center">
                <p class="mx-auto mt-1 mb-0"><%- mainText %></p>
                <p class="mx-auto mt-3 mb-0">
                    <a href="/" class="masthead-text back-to-home-link">
                        Back to Homepage
                        <svg width="1em" height="1em">
                            <use xlink:href="#bi-chevron-right"></use>
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </div>
</header>

<!-- Core JS with Bootstrap components needed -->
<script id="main-script" src="/js/scripts.min.js" data-page="<%- pageID %>"></script>
</body>
</html>
