<!DOCTYPE html>
<html lang="en"
      style="--bs-body-color: black; --bs-body-bg: white; --bs-active-color: rgba(0, 0, 0, 0.3);">
<%- include("components/_head.ejs") %>
<body id="page-top">
<%- include("components/_embedded_svgs.ejs") %>
<%- include("components/_nav.ejs") %>
<%- include("components/_masthead.ejs") %>

<!-- Body + Footer -->
<section class="" id="homeSection">
    <div class="d-flex justify-content-center" id="biographyContainer">
        <div class="container px-4 px-md-0 my-auto">
            <!-- Biography -->
            <div class="row justify-content-between align-items-center pt-5" id="biography">
                <div class="col-md-5 mt-auto mt-md-0">
                    <div class="px-5 px-md-0">
                        <div class="mx-auto" id="biography-photo"></div>
                    </div>
                </div>
                <div class="col-md-7 pt-5 pt-md-0 px-0">
                    <!-- Biography -->
                    <div class="biography-text center-text mx-auto my-auto" id="biography-text">
                        I&nbsp;am&nbsp;Zikai Liu, a&nbsp;Master's&nbsp;student in Computer&nbsp;Science at ETH&nbsp;Zurich.
                    </div>
                    <!-- Main Navigations -->
                    <div id="biography-links" class="row mx-auto pt-5 pt-md-0">
                        <div class="biography-link home-link-text center-text col-4">
                            <!-- style="width: 100%; height: 100%" in svg is needed for Safari -->
                            <a id="about-link" href="/about">
                                <%- include("svgs/about-main-icon.svg") %>
                            </a>
                        </div>
                        <div class="biography-link home-link-text center-text col-4">
                            <a id="projects-link" href="/projects">
                                <%- include("svgs/project-main-icon.svg") %>
                            </a>
                        </div>
                        <div class="biography-link home-link-text center-text col-4">
                            <a id="photography-link" href="/photography">
                                <%- include("svgs/photography-main-icon.svg") %>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Small Contacts -->
            <div class="d-flex justify-content-center pt-5 pb-4 mt-auto" id="homeContacts">
                <a class="mx-2 " id href="mailto: zikai.liu@outlook.com" aria-label="Email me">
                    <svg width="1.2em" height="1.2em">
                        <use xlink:href="#bi-envelope"></use>
                    </svg>
                </a>
                <a class="mx-2 " target="_blank" rel="noopener noreferrer"
                   href="https://www.linkedin.com/in/zikai-liu/" aria-label="Visit my LinkedIn">
                    <svg width="1.2em" height="1.2em">
                        <use xlink:href="#bi-linkedin"></use>
                    </svg>
                </a>
                <a class="mx-2 " target="_blank" rel="noopener noreferrer"
                   href="https://github.com/liuzikai" aria-label="Visit my GitHub">
                    <svg width="1.2em" height="1.2em">
                        <use xlink:href="#bi-github"></use>
                    </svg>
                </a>
            </div>
            <!-- Copyright -->
            <div class="d-flex justify-content-center pb-4">
                <div class="small text-center">Zikai Liu &copy; 2023</div>
            </div>
        </div>
    </div>
</section>

<!-- Core JS with Bootstrap components needed -->
<script id="main-script" src="/js/scripts.min.js" data-page="home"></script>
</body>
</html>
