<!DOCTYPE html>
<html lang="en"
      style="background-color: rgba(255, 255, 255, 0.6); --bs-body-color: rgba(255, 255, 255, 0.6); --bs-body-rgb: 255, 255, 255; --bs-active-color: white; --bs-annotation-color: rgba(255, 255, 255, 0.5); --bs-annotation-bg: rgba(0, 0, 0, 1);">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Some of the photos I took during my trips."/>
    <meta name="author" content="Zikai Liu"/>
    <title>Zikai Liu's Photography</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5a5a5a">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <!-- Core theme CSS (includes Bootstrap and self-host Nunito) -->
    <link href="/css/styles.css" rel="stylesheet"/>
    <!-- Preloads (crossorigin is needed for fonts) -->
    <link rel="preload" href="/fonts/nunito-sans-v12-latin-200.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" fetchpriority="high" href="/assets/masthead-color.jpg" as="image" type="image/jpeg">
    <link rel="preload" href="/fonts/nunito-sans-v12-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/nunito-sans-v12-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/js/scripts.min.js" as="script">
    <!-- If not preloading, images files can be loaded first, which is not desired     -->
    <!-- SVG icons are loaded in the scripts.js, which also have high priorities       -->
    <!-- Images are loaded normally, while the videos are lazily loaded as modal opens -->
</head>
<!-- TODO: this offset is a bit random -->
<body id="page-top" data-bs-spy="scroll" data-bs-target="#thumbnails" data-bs-offset="150">

<!-- Display the background image only when completely loaded -->
<div id="preload" style="display: none">
    <img src="/assets/masthead-color.jpg"
         onload='document.getElementById("masthead").classList.add("masthead-photography-bg");' alt="">
</div>

<%- include("components/_embedded_svgs.ejs") %>

<!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav">
    <!-- container for margin and padding, d-block when < lg to expand drop-down, d-lg-flex for same line -->
    <div class="container px-4 px-lg-5 d-block d-md-flex">
        <div class="d-flex" style="height: 100%; flex:auto; justify-content: space-between;"
             id="mainNavBody">
            <a class="navbar-brand" href="/">
                Zikai Liu
            </a>
            <div class="navbar-toggler collapsed my-auto"
                 data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                 aria-expanded="false" aria-label="Toggle navigation">
                <svg width="16" height="16">
                    <use xlink:href="#bi-chevron-right"></use>
                </svg>
            </div>
        </div>
        <!-- Expanded when >= md, drop-down menu when < md -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link " href="/">Home</a>
                </li>
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link " href="/projects">Projects</a>
                </li>
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link active " href="/photography">Photography</a>
                </li>
                <li class="nav-item navbar-invisible-shrink">
                    <a class="nav-link " href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead min-vh-100" id="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex flex-column justify-content-center h-100">
            <div class="py-5" style="height: 5rem;"> <!-- placeholder--> </div>
            <div class="masthead-text text-center">
                <p class="mx-auto mt-1 mb-0">Life has so much beauty</p>
                <p class="mx-auto mt-1 mb-0">waiting for us to discover</p>
                <p class="mx-auto mt-1 mb-0">together.</p>
            </div>
            <!-- Scroll Indicator -->
            <div class="text-center py-5" style="height: 5rem; color: rgba(255, 255, 255, 0.3)">
                <svg width="2.25em" height="2.25em" fill="currentColor" viewBox="0 0 16 16" id="homeScrollIndicator">
                    <path fill-rule="evenodd" class="scroll-indicator-path scroll-indicator-path-active"
                          style="animation-delay: -1s"
                          d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" class="scroll-indicator-path scroll-indicator-path-active"
                          style="animation-delay: -1.5s"
                          d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
    </div>
</header>

<!-- Camera and Editor -->
<div class="container pt-5 text-center camera-info-text">
    <div class="row pt-3 justify-content-center">
        <div class="col-md-6 py-4"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="camera-info-icon" viewBox="0 0 16 16">
                <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
                <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
            </svg>&nbsp;&nbsp; &nbsp;&nbsp;Canon&nbsp;EOS&nbsp;700D, iPhone&nbsp;Xs</div>
        <div class="col-md-6 py-4"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="camera-info-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
            </svg>&nbsp;&nbsp; &nbsp;&nbsp;Adobe Lightroom Classic</div>
    </div>
</div>

<section class="gallery-block compact-gallery">
    <div class="row g-0">
        <% sections.forEach(function(section) { %>
            <% let imageCount = section.additionalPhotos.length + 1; %>
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="<%- section.coverImage %>" data-section="<%- section.heading %> &bull; 1/<%= imageCount %>" data-caption="<%- section.coverText %>">
                    <img class="img-fluid image" src="<%- section.coverThumbnail %>">
                    <div class="description">
                        <span class="description-heading"><%- section.heading %></span>
                        <!-- <span class="description-body"></span> -->
                    </div>
                </a>
                <div style="display: none">
                    <% for (let i = 0; i < section.additionalPhotos.length; i++) { %>
                        <% let photo = section.additionalPhotos[i]; %>
                        <a class="lightbox" href="<%- photo.image %>" data-section="<%- section.heading %> &bull; <%= i + 2 %>/<%= imageCount %>" data-caption="<%- photo.text %>"></a>
                    <% } %>
                </div>
            </div>
        <% }); %>
    </div>
</section>

<!-- Final words -->
<div class="container pt-5 px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="masthead-text text-center">
            <p class="mx-auto mt-1 mb-0">The next destination awaits.</p>
        </div>
    </div>
</div>

<!-- Contact-->
<section class="contact-section contact-section-dark">
    <div class="container px-4 px-lg-5">
        <div class="social d-flex justify-content-center">
            <a class="mx-2 " href="mailto: zikai.liu@outlook.com" aria-label="Email me">
                <svg width="1.5em" height="1.5em">
                    <use xlink:href="#bi-envelope"></use>
                </svg>
            </a>
            <a class="mx-2 " target="_blank" rel="noopener noreferrer"
               href="https://www.linkedin.com/in/zikai-liu/" aria-label="Visit my LinkedIn">
                <svg width="1.5em" height="1.5em">
                    <use xlink:href="#bi-linkedin"></use>
                </svg>
            </a>
            <a class="mx-2 " target="_blank" rel="noopener noreferrer"
               href="https://github.com/liuzikai" aria-label="Visit my GitHub">
                <svg width="1.5em" height="1.5em">
                    <use xlink:href="#bi-github"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Zikai Liu &copy; 2023</div>
    <div class="container px-4 px-lg-5 py-4">
        <a class="text-white-50 " target="_blank" rel="noopener noreferrer"
           href="https://github.com/liuzikai/liuzik.ai" aria-label="Visit the GitHub repository of this website">
            Nuts and bolts about this website on
            <span style="white-space: nowrap">
            <svg width="1em" height="1em" style="position: relative; top: -0.15em">
                <use xlink:href="#bi-github"></use>
            </svg>
            GitHub
            <svg width="1em" height="1em" style="position: relative; top: -0.15em">
                <use xlink:href="#bi-chevron-right"></use>
            </svg>
            </span>
        </a>
    </div>
</footer>
<!-- Core JS with Bootstrap components needed -->
<script id="main-script" src="/js/scripts.min.js" data-page="photography"></script>
</body>
</html>
