<!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-<%- navbarTheme %> fixed-top" id="mainNav">
    <!-- container for margin and padding, d-block when < lg to expand drop-down, d-lg-flex for same line -->
    <div class="container px-4 px-lg-5 d-block d-md-flex">
        <div class="d-flex" style="height: 100%; flex:auto; justify-content: space-between;" id="mainNavBody">
            <a class="navbar-brand" href="/">
                Zikai Liu
            </a>
            <div class="navbar-toggler collapsed my-auto"
                 data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                 aria-expanded="false" aria-label="Toggle navigation">
                <svg width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 16 16" id="navbarMenu">
                    <path class="navbar-line one" d="M2.5,4c0-0.3,0.2-0.5,0.5-0.5h10c0.3,0,0.5,0.2,0.5,0.5S13.3,4.5,13,4.5H3C2.7,4.5,2.5,4.3,2.5,4z"/>
                    <path class="navbar-line two" d="M2.5,8c0-0.3,0.2-0.5,0.5-0.5h10c0.3,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.5-0.5,0.5H3C2.7,8.5,2.5,8.3,2.5,8z"/>
                    <path class="navbar-line three" d="M2.5,12c0-0.3,0.2-0.5,0.5-0.5h10c0.3,0,0.5,0.2,0.5,0.5s-0.2,0.5-0.5,0.5H3C2.7,12.5,2.5,12.3,2.5,12z"/>
                </svg>
            </div>
        </div>
        <!-- Expanded when >= md, drop-down menu when < md -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item <%= navlinkAlwaysShow ? "" : "navbar-invisible-shrink" %>>">
                    <a class="nav-link <%= navlinkAlwaysShow ? "nav-link-outline" : "" %> <%= pageID === "index" ? "active" : "" %>" href="/">Home</a>
                </li>
                <li class="nav-item <%= navlinkAlwaysShow ? "" : "navbar-invisible-shrink" %>">
                    <a class="nav-link <%= navlinkAlwaysShow ? "nav-link-outline" : "" %> <%= pageID === "projects" ? "active" : "" %>" href="/projects">Projects</a>
                </li>
                <li class="nav-item <%= navlinkAlwaysShow ? "" : "navbar-invisible-shrink" %>">
                    <a class="nav-link <%= navlinkAlwaysShow ? "nav-link-outline" : "" %> <%= pageID === "photography" ? "active" : "" %>" href="/photography">Photography</a>
                </li>
                <li class="nav-item <%= navlinkAlwaysShow ? "" : "navbar-invisible-shrink" %>">
                    <a class="nav-link <%= navlinkAlwaysShow ? "nav-link-outline" : "" %> <%= pageID === "about" ? "active" : "" %>" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>